ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: red;
  height: 100dvh;
  padding: 20px;
}
  
.burger {
  position: relative;
  width: 30px;
  height: 30px;
/*   padding: 10px; */
  background-color: green;
  border: none;
  z-index: 1;
}

@media(min-width: 700px){
  .burger {
    display: none;
  }
}
  
.figure {
  display: block;
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figure.first {
  transform: translate(-50%, -8px);
}
 
.figure.last {
  transform: translate(-50%, 6px);
}

.mobile-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 0;
  background-color: aquamarine;
  width: 100%;
  height: 100dvh; 
  transition: height .2s ease-out, left .2s ease-out;
  padding: 10px 20px;
  box-sizing: border-box;
}

.mobile-navigation.open {
  left: 0;
}



.mobile-navigation__list {
  
}

.mobile-navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: black;
  padding: 10px;
  text-align: center;
}









.header__site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* @media (min-width: 700px) {
  .header__site-list {
    display: none;
  }
} */
    
@media (min-width: 1440px) {
  .header__site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  } 
}

.header__site-list a {
  display: block;
  color: white;
  text-decoration: none;
}
 
.header__navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: grey;
}

@media (min-width: 700px) {
  .header__navigation{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    font-size: 18px;
  }
}
